@charset 'utf-8';
@import 'jquery.lightbox-0.5';
@import 'jplayer.wasteland';
@import 'skeleton';


/*
Site: Wasteland Gardens
Version: 2.0
Date: 01/01/2014
*/

/* TOC
General Styles
Type Styles
Link Styles
Page Styles
Forms
Plugin Styles
Media Queries
*/

$white: #FFFFFF;
$black: #000000;
$light-green: #56C529;
$green: #2C780D;
$rust: #783313;
$blue: #98B7C9;
$purple: #780973;
$light-gray: #fbfbfb;
$medium-gray: #606060;
$dark-gray: #333333;
$blue-gray: #3F6677;
$dark-tan: #B0A490;

/* General Styles */

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }

body {
	padding: 0;
	margin: 0 auto;
	font-size: 16px;
}

.bg-home {
	position: relative;
	overflow: hidden;
}

.bg-home::before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	background: url('../images/bg-landingpage.jpg') no-repeat center center;
	background-size: cover;
	will-change: transform;
	z-index: -1;
}

.column, .columns {
	border-radius: 4px;
}

/* Main Global Header */

header {
	position: fixed;
	width: 100%;
	min-height: 80px;
	padding: 10px 20px;
	background: linear-gradient(to top, rgba(176,164,144,0), rgba(176,164,144,.5) );
	z-index: 998;

	.logo {
		float: left;
		margin-top: 6px;
	}

	h1 a{
		color: $light-gray;
		transition: all .5s ease;
	}

	h1 a:hover{
		color: $dark-tan;
		border-top: 5px solid $light-gray;
		border-bottom: 5px solid $light-gray;
	}

	nav {
		float: right;
		margin: 10px 20px;
	}
}

nav ul li {
	display: inline;
	padding-left: 15px;
	cursor: pointer;
	text-align: center;
}

nav ul li a {
	margin-left: 10px;
	font-family: 'Bowlby One SC', Geneva, sans-serif;
	font-size: 1.5em;
	color: $light-gray;
	font-weight: bold;
	border: none;
	transition: all .5s ease;
}

nav ul li a:hover {
	color: $dark-tan;
	text-decoration: none;
	border-top: 5px solid $light-gray;
	border-bottom: 5px solid $light-gray;
}

#menu-icon {
	display: none;
}

/* Main Global Footer */

footer {
	width: 100%;
	height: auto;
	margin-top: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: linear-gradient(to bottom, rgba(176,164,144,0), rgba(176,164,144,.5) );
	z-index: 997;
}

.copyright {
	text-align: center;
}

/* Type Styles */

h1 {
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $medium-gray;
	padding: 0;
	margin: 0 0 10px 0;
}

h1 a{
	color: $medium-gray;
	padding: 0;
	margin: 0 0 10px 0;
	text-decoration: none;
}

h1 a:hover{
	color: $dark-tan;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 6em;
	color: $dark-tan;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2.5em;
	color: $dark-tan;
}

h4 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Arimo', Helvetica, sans-serif;
	font-size: 2.5em;
	color: $dark-tan;
}

h5 {
	margin: 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2em;
	color: $dark-tan;
}

p {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $light-gray;
	padding: 0;
	margin: 0 20px 10px 0;
}

p a{
	text-decoration: underline;
}

p a:hover{
	color: $rust;
}

li {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $dark-tan;
	padding: 0;
	margin: 0 0 10px 0;
}

.byline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	padding: 0;
	margin: 0 20px 10px 0;
}


/* Link Styles */

a {
	text-decoration: none;
}


/**Page Styles**/

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: bottom;
}

.module {
	margin-bottom: 10px;
	padding: 10px;
	background: linear-gradient(to top, rgba(176,164,144,0), rgba(176,164,144,.5) );
	border-radius: 4px;
}


.faqBox h2 {
	margin-right: 10px;
	margin-left: 10px;	
}

.faq-profile {
	float: left;
	height: auto;
	width: 50%;
	margin: 0;
	padding: 0;
}
.faq-profile img, .faq-profile h3   {
	float: left;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 1em;
}
.faq-profile p {
	float: left;
	width: 250px;
	margin-left: 10px;
}

.parent-column {
	margin: 0;
	padding: 0;
}



/* Forms */
.label {
	font-family: 'Bowlby One SC', Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: $dark-tan;
	font-weight:bold;
}

input {
	min-height: 32px;
}

input, textarea {
	display: block;
	width: 100%;
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: $dark-tan;
	border: 2px solid $light-gray;
}

input:focus, textarea:focus {
	border: 2px solid $dark-tan;
}

.submit-reset {
	float: left;
	width: 120px;
	height: 32px;
	margin-top: 20px;
	margin-right: 20px;
	font-family: 'Bowlby One SC', Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: $light-gray;
	background: linear-gradient(to top, rgba(176,164,144,0), rgba(176,164,144,.5) ); 
	border: 2px solid $light-gray;
	border-radius: 4px; 
}

.submit-reset:hover {
	color: $dark-tan;
	background: $light-gray; 
	border: 2px solid $dark-tan;
	border-radius: 4px;
}



/** Hero **/

.hero {
	padding: 10% 0;
}

.hero--home {
	height: 100vh;
}

.hero-copy + .bg-site {
	padding: 20px 0;
}

.hero-copy {
	text-align: center;
	margin-bottom: 40px;

	h2 {
		color: $dark-tan;
		animation: delayed-fade .5s ease-in 0s 1; 
	}

	h4 {
		color: $dark-tan;
		animation: delayed-fade 1s ease-in 0s 1; 
	}
}

@keyframes delayed-fade {
	0%   {opacity: 0;}
	50%  {opacity: 0;}
	100% {opacity: 1;}
}


/**Gallery**/

.container.gallery .one-third.column {
	position: relative;
	max-height: 270px; /*DELETE THIS AFTER PLACING CONTENT*/
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.gallery-copy {
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	padding: 0;
	background: linear-gradient(to top, rgba(176,164,144,0), rgba(176,164,144,1) );
	transition: all 1s ease;
}

.container.gallery .one-third.column:hover .gallery-copy {
	height: 100%;
	padding: 10px;
}

.gallery {

	h5 {
		color: $light-gray;
	}

	p {
		color: $light-gray;
	}
}

/* jPlayer */

.jp-video {
	animation: delayed-fade 1.5s ease-in 0s 1;
}

/* Audio Player */

.module-audio {
	margin:0;
	padding: 0;

	ul {
		margin: 0;
	}

	li {
		display: block;
		clear: both;
		height: 108px;
		margin-bottom: 20px;
		list-style-type: none;
		transition: all .5s ease;
	}

	li:hover, li.current {
		background: linear-gradient(to top, rgba(176,164,144,0), rgba(176,164,144,.5) );
		box-shadow: 1px 1px 1px $dark-tan;
	}

	img {
		float: left;
		width: 192px;
		height: 108px;
		margin-right: 10px;
		padding: 10px;
	}

	audio {
		width: 100%;
	}

	p {
	}

}


/**Cycle Slideshow**/

.slideshow {
	width:100%;
	height:auto;
}


#slideshow1, #slideshow2, #slideshow3 {
	width: 100%;
	height: auto;
}

#slideshow img {
	width: 100%;
	height: auto;
}

/* Media Queries */

@media all and (min-width: 0) and (max-width: 767px) {

	header {
		position: relative;
		min-height: 50px;
		margin: 0;
		padding: 7px 10px;
		
		.logo {
			margin-top: 0;
		}		

		h1 a{
			font-size: .75em;
			vertical-align: top;
		}

		h1 a:hover{
			border-top: 2px solid $light-gray;
			border-bottom: 2px solid $light-gray;
		}

		nav {
			margin: 0;
		}

		nav ul li {
			padding: 0 2px;
		}
	}

	#nav-wrap {
	}

	#menu-icon, #menu-icon:visited {
		margin: 0;
		padding: 4px;
		cursor: pointer;
		display: block;
		background-color: rgba(176,164,144,0);
		border: 2px solid $light-gray;
		border-radius: 4px;

		.menu-bar, .menu-bar:visited {
			display: block;
			width: 24px;
			height: 4px;
			background-color: $light-gray;
		}

		.menu-bar + .menu-bar {
			margin-top: 4px;
		}	
	}

	#menu-icon:hover, #menu-icon:active {
		background-color: $light-gray;
		border: 2px solid $dark-tan;

		.menu-bar {
			background-color: $dark-tan;
		}
	}

	#nav-menu {
		clear: both;
		position: absolute;
		top: 50px;
		left: -20px;
		z-index: 999;
		width: 100%;
		padding: 8px 8px;
		text-align: center;
		background: linear-gradient(to bottom, rgba(176,164,144,0), rgba(176,164,144,.5) );
		border: none;
		display: none;
		line-height: 50px;
	}

	.hero--home {
		margin-bottom: 80px;
	}
}

