@charset 'utf-8';
@import 'jquery.lightbox-0.5';
@import 'skeleton';


/*
Site: Wasteland Gardens
Version: 2.0
Date: 01/01/2014
*/

/* TOC
General Styles
Type Styles
Link Styles
Page Styles
Forms
Plugin Styles
Media Queries
*/

$white: #FFFFFF;
$black: #000000;
$light-green: #56C529;
$green: #2C780D;
$rust: #783313;
$blue: #4046CF;
$purple: #780973;
$light-gray: #fbfbfb;
$medium-gray: #606060;
$dark-gray: #333333;
$blue-gray: #3F6677;

/* General Styles */

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }

body {
	padding: 0;
	margin: 0 auto;
	font-size: 16px;
}

.bg-home {
	position: relative;
	overflow: hidden;
}

.bg-home::before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	background: url('../images/bg-landingpage.jpg') no-repeat center center;
	background-size: cover;
	will-change: transform;
	z-index: -1;
}

.bg-site {
	padding-bottom: 20px;
	background-color: $white;
	background: url('../images/concrete_seamless.png') repeat;
}

.hero-copy + .bg-site {
	padding: 20px 0;
}

.hero-header {
	h1 a{
		color: $light-gray;
	}

	h1 a:hover{
		color: $dark-gray;
	}

	nav ul li a {
		color: $light-gray;
	}

	nav ul li a:hover {
		color: $dark-gray;
	}
}

.hero-copy {
	height: 60vh;
	padding: 5% 0;
	text-align: center;

	h2 {
		color: $light-gray;
		animation: delayed-fade 1s ease-in 0s 1 ; 
	}

	h4 {
		animation: delayed-fade 2s ease-in 0s 1 ; 
	}
}

@keyframes delayed-fade {
	0%   {opacity: 0;}
	50%  {opacity: 0;}
	100% {opacity: 1;}
}


/* Main Global Header */

header {
	width: 100%;
	min-height: 80px;
	padding: 10px 20px;
}

.logo {
	float: left;
}

header nav {
	float: right;
	margin: 10px 20px;
}

nav ul li {
	display: inline;
	padding-left: 15px;
	cursor: pointer;
	text-align: center;
}

nav ul li a {
	margin-left: 10px;
	font-family: 'Bowlby One SC', Geneva, sans-serif;
	font-size: 1.5em;
	color: $medium-gray;
	font-weight: bold;
	border: none;
}

nav ul li a:hover {
	color: $dark-gray;
	text-decoration: none;
}

/* Main Global Footer */

footer {
	width: 100%;
	height: auto;
	margin-top: 60px;
	padding-top: 10px;
	text-align: center;
}

/* Type Styles */

h1 {
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $medium-gray;
	padding: 0;
	margin: 0 0 10px 0;
}

h1 a{
	color: $medium-gray;
	padding: 0;
	margin: 0 0 10px 0;
	text-decoration: none;
}

h1 a:hover{
	color: $dark-gray;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 8em;
	color: $dark-gray;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2.5em;
	color: $medium-gray;
}

h4 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Arimo', Helvetica, sans-serif;
	font-size: 2.5em;
	color: $white;
}

h5 {
	margin: 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2em;
	color: $medium-gray;
}

p {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $dark-gray;
	padding: 0;
	margin: 0 20px 10px 0;
}

p a{
	text-decoration: underline;
}

p a:hover{
	color: $rust;
}

ol, ul {
	margin-left: 20px;
}

li {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $dark-gray;
	padding: 0;
	margin: 0 0 10px 0;
}

.byline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	padding: 0;
	margin: 0 20px 10px 0;
}


/* Link Styles */

a {
	text-decoration: none;
}


/**Page Styles**/

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: bottom;
}

.module {
	margin-bottom: 10px;
	padding: 10px;
}


.faqBox h2 {
	margin-right: 10px;
	margin-left: 10px;	
}

.faq-profile {
	float: left;
	height: auto;
	width: 50%;
	margin: 0;
	padding: 0;
}
.faq-profile img, .faq-profile h3   {
	float: left;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 1em;
}
.faq-profile p {
	float: left;
	width: 250px;
	margin-left: 10px;
}

.parent-column {
	margin: 0;
	padding: 0;
}

/* Audio Player */

.module-audio {
	margin:0;
	padding: 0;

	ul {
		margin: 0;
	}

	li {
		display: block;
		clear: both;
		height: 120px;
		margin-bottom: 10px;
		list-style-type: none;
		background-color: rgba(0,0,0,0.1);
	}

	li:hover, li.current {
		background-color: rgba(0,0,0,0.2);
	}

	img {
		float: left;
		width: 120px;
		margin-right: 10px;
	}

	audio {
		width: 100%;
	}

	p {
	}

}

/* Forms */
.label1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #993300;
	float:left;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
	width: 120px;
}

.label2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #993300;
	float:left;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
}

.submitReset {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #56C529;
	height: 32px;
	width: 120px;
	background-image: url(../images/btnBgUp.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000;
}

.inputFocus {
	border: 2px solid #56C529;	
}

.noInput {
	background-color: #000;
	border: 2px solid #993300;
}


label.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #993300;
	margin-left: 10px;
}

input.error {
	color: #993300;
	border: 2px solid #993300;
}

#success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #993300;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
	margin-bottom: 10px;
}





/**Gallery**/

.container.gallery .four.columns {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.gallery-copy {
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	transition: all 1s ease;
}

.container.gallery .four.columns:hover .gallery-copy {
	height: 100%;
	padding: 10px;
}

/**Cycle Slideshow**/

.slideshow {
	width:100%;
	height:auto;
}


#slideshow1, #slideshow2, #slideshow3 {
	width: 100%;
	height: auto;
}

#slideshow img {
	width: 100%;
	height: auto;
}

/* Media Queries */
