@charset 'utf-8';
@import 'jquery.lightbox-0.5';
@import 'skeleton';


/*
Site: Wasteland Gardens
Version: 2.0
Date: 01/01/2014
*/

/* TOC
General Styles
Type Styles
Link Styles
Page Styles
Forms
Plugin Styles
Media Queries
*/

$white: #FFFFFF;
$black: #000000;
$green: #4EC872;
$rust: #7B1C1B;

/* General Styles */

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }

body {
	padding: 0;
	margin: 0 auto;
	font-size: 16px;
}

.bg-home {
	position: relative;
	overflow: hidden;
}

.bg-home::before {
	content: ' ';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	background: url('../images/bg-landingpage.jpg') no-repeat center center;
	background-size: cover;
	will-change: transform;
	z-index: -1;
}

.hero-copy {
	padding: 10% 0;
	text-align: center;
}

/* Main Global Header */

header {
	width: 100%;
	min-height: 80px;
	padding: 10px 20px;
	background: linear-gradient(to bottom, black, rgba(0,0,0,0));
}

.logo {
	float: left;
}

header nav {
	float: right;
	margin: 10px 20px;
}

nav ul li {
	display: inline;
	padding-left: 15px;
	cursor: pointer;
	text-align: center;
}

nav ul li a {
	margin-left: 10px;
	font-family: 'Bowlby One SC', Geneva, sans-serif;
	font-size: 1.5em;
	color: $white;
	font-weight: bold;
	border: none;
}

nav ul li a:hover {
	color: $green;
	text-decoration: none;
}

/* Main Global Footer */

footer {
	width: 100%;
	height: auto;
	margin-top: 60px;
	padding-top: 10px;
	text-align: center;
}

/* Type Styles */

h1 {
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0;
	margin: 0 0 10px 0;
}

h1 a{
	color: $white;
	padding: 0;
	margin: 0 0 10px 0;
	text-decoration: none;
}

h1 a:hover{
	color: $green;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 8em;
	color: $rust;
}

h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2.5em;
	color: $white;
}

h4 {
	margin: 0 0 10px 0;
	padding: 0;
	font-family: 'Arimo', Helvetica, sans-serif;
	font-size: 2.5em;
	color: $white;
}

h5 {
	margin: 0;
	padding: 0;
	font-family: 'Bowlby One SC', Helvetica, sans-serif;
	font-size: 2em;
	color: $rust;
}

p {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $white;
	padding: 0;
	margin: 0 20px 10px 0;
}

p a{
	text-decoration: underline;
}

p a:hover{
	color: $green;
}

ol, ul {
	margin-left: 20px;
}

li {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $white;
	padding: 0;
	margin: 0 0 10px 0;
}

.byline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	padding: 0;
	margin: 0 20px 10px 0;
}


/* Link Styles */

a {
	text-decoration: none;
}


/**Page Styles**/

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: bottom;
}

.module {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #000;	
	background-color: rgba(0,0,0,0.5);
}


.faqBox h2 {
	margin-right: 10px;
	margin-left: 10px;	
}

.faq-profile {
	float: left;
	height: auto;
	width: 50%;
	margin: 0;
	padding: 0;
}
.faq-profile img, .faq-profile h3   {
	float: left;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 1em;
}
.faq-profile p {
	float: left;
	width: 250px;
	margin-left: 10px;
}

/* Forms */
.label1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #993300;
	float:left;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
	width: 120px;
}

.label2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #993300;
	float:left;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
}

.submitReset {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #56C529;
	height: 32px;
	width: 120px;
	background-image: url(../images/btnBgUp.png);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #000;
}

.inputFocus {
	border: 2px solid #56C529;	
}

.noInput {
	background-color: #000;
	border: 2px solid #993300;
}


label.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #993300;
	margin-left: 10px;
}

input.error {
	color: #993300;
	border: 2px solid #993300;
}

#success {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #993300;
	text-align:left;
	clear:left;
	margin-right:10px;
	font-weight:bold;
	margin-bottom: 10px;
}





/**Gallery**/
.container.gallery .columns {
	margin-left: 0;
	margin-right: 0;
}
.container.gallery .four.columns {
	width: 25%;
	margin: 0;
	padding: 0;
}

/**Cycle Slideshow**/

.slideshow {
	width:100%;
	height:auto;
}


#slideshow1, #slideshow2, #slideshow3 {
	width: 100%;
	height: auto;
}

#slideshow img {
	width: 100%;
	height: auto;
}

/* Media Queries */
